

	
			
		<!--view below shows Menu and HOME -->	
		

		
		
		<ion-tabs class="tabs-striped tabs-background-dark tabs-color-calm">

        <ion-tab title="Search again" icon="ion-home" href="#/app/show">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Login" icon="ion-log-out" href="#/home">
        </ion-tab>

      </ion-tabs>


